<TABLE cellSpacing=1 cellPadding=2 border=0>
<COLGROUP>
<COL>
<COL>
<COL>
<TBODY>
<TR class=tblheader1>
<TD>ф.и. участника</TD>
<TD>регион</TD>
<TD>диплом</TD></TR>
<TR>
<TD>Лю Чжиюй</TD>
<TD>Китай</TD>
<TD>1</TD></TR>
<TR>
<TD>Еремин Алексей</TD>
<TD>Краснодарский край</TD>
<TD>1</TD></TR>
<TR>
<TD>Глазман Александр</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Девятов Ростислав</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Красильников Александр</TD>
<TD>Ульяновская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Баронов Эмил</TD>
<TD>Болгария</TD>
<TD>2</TD></TR>
<TR>
<TD>Образцов Тимофей</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Столяров Дмитрий</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Ван Чжэнань</TD>
<TD>Китай</TD>
<TD>2</TD></TR>
<TR>
<TD>Климовский Арсений</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Дружинин Андрей</TD>
<TD>Иркутская область</TD>
<TD>2</TD></TR>
<TR>
<TD>Ситников Александр</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Сахипов Рамиль</TD>
<TD>Санкт-Петербург </TD>
<TD>2</TD></TR>
<TR>
<TD>Чжан Тау</TD>
<TD>Китай</TD>
<TD>2</TD></TR>
<TR>
<TD>Матвеев Константин</TD>
<TD>Омская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Козачок Марина</TD>
<TD>Московская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Баранов Дмитрий</TD>
<TD>Московская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Симеонов Димитар</TD>
<TD>Болгария</TD>
<TD>2</TD></TR>
<TR>
<TD>Пантелеев Леонид</TD>
<TD>Кировская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Трифонов Иван</TD>
<TD>Иркутская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Дремов Виктор</TD>
<TD>Ростовская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Пикалов Павел</TD>
<TD>Свердловская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Иванов Григорий</TD>
<TD>Ярославская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Смотров Дмитрий</TD>
<TD>Челябинская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Пономарева Елизавета</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Калинина Елена</TD>
<TD>Нижегородская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Корнаков Илья</TD>
<TD>Москва</TD>
<TD>3</TD></TR>
<TR>
<TD>Рябченко Александр</TD>
<TD>Новосибирская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Белов Борис</TD>
<TD>Московская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Инь Цзе</TD>
<TD>Китай</TD>
<TD>3</TD></TR>
<TR>
<TD>Тхоржевский Никита</TD>
<TD>Вологодская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Хохуля Никита</TD>
<TD>Краснодарский край</TD>
<TD>3</TD></TR>
<TR>
<TD>Хапланов Арсений</TD>
<TD>Ростовская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Музычка Степан</TD>
<TD>Московская обл.</TD>
<TD>3</TD></TR>
</TBODY></TABLE>