<TABLE cellSpacing=1 cellPadding=2 border=0>
<COLGROUP>
<COL>
<COL>
<COL>
<TBODY>
<TR class=tblheader1>
<TD>ф.и. участника</TD>
<TD>регион</TD>
<TD>диплом</TD></TR>
<TR>
<TD>Трепалин Андрей</TD>
<TD>Московская обл.</TD>
<TD>1</TD></TR>
<TR>
<TD>Магазинов Александр</TD>
<TD>Ярославская обл.</TD>
<TD>1</TD></TR>
<TR>
<TD>Белоусов Кирилл</TD>
<TD>Челябинская обл.</TD>
<TD>1</TD></TR>
<TR>
<TD>Астахов Василий</TD>
<TD>Саратовская обл.</TD>
<TD>1</TD></TR>
<TR>
<TD>Кралев Росен</TD>
<TD>Болгария</TD>
<TD>1</TD></TR>
<TR>
<TD>Димитров Иван</TD>
<TD>Болгария</TD>
<TD>2</TD></TR>
<TR>
<TD>Ефимов Александр</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Калинин Никита</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Катышев Алексей</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Гаврилюк Андрей</TD>
<TD>Московская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Козлов Павел</TD>
<TD>Ярославская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Булиткин Даниил</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Подхалюзин Александр</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Ботов Михаил</TD>
<TD>Ярославская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Затицкий Павел</TD>
<TD>Санкт-Петербург</TD>
<TD>3</TD></TR>
<TR>
<TD>Прохоренко Егор</TD>
<TD>Краснодарский край</TD>
<TD>3</TD></TR>
<TR>
<TD>Нетай Игорь</TD>
<TD>Ростовская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Лишков Александр</TD>
<TD>Болгария</TD>
<TD>3</TD></TR>
<TR>
<TD>Севенюк Михаил</TD>
<TD>Нижегородская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Шевяков Вадим</TD>
<TD>Калужская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Ананьевский Алексей</TD>
<TD>Санкт-Петербург</TD>
<TD>3</TD></TR>
<TR>
<TD>Тропин Николай</TD>
<TD>Челябинская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Родионов Игорь</TD>
<TD>Московская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Гимадеев Ренат</TD>
<TD>Татарстан</TD>
<TD>3</TD></TR>
<TR>
<TD>Кузьменко Юрий</TD>
<TD>Московская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Шмаков Кирилл</TD>
<TD>Санкт-Петербург</TD>
<TD>3</TD></TR>
<TR>
<TD>Трегубов Алексей</TD>
<TD>Кировская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Айзенштейн Даниил</TD>
<TD>Свердловская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Латушкин Сергей</TD>
<TD>Пермская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Поляков Евгений</TD>
<TD>Челябинская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Христофоров Михаил</TD>
<TD>Санкт-Петербург</TD>
<TD>пг</TD></TR>
</TBODY></TABLE>