<TABLE cellSpacing=1 cellPadding=2 border=0>
<COLGROUP>
<COL>
<COL>
<COL>
<TBODY>
<TR class=tblheader1>
<TD>ф.и. участника</TD>
<TD>регион</TD>
<TD>диплом</TD></TR>
<TR>
<TD>Ардинарцев Никита (8)</TD>
<TD>Санкт-Петербург</TD>
<TD>1</TD></TR>
<TR>
<TD>Сафин Станислав</TD>
<TD>Краснодарский край</TD>
<TD>1</TD></TR>
<TR>
<TD>Кевер Михаил</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Есин Алексей</TD>
<TD>Краснодарский край</TD>
<TD>2</TD></TR>
<TR>
<TD>Илюхина Мария</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Митрофанов Иван</TD>
<TD>Московская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Лишанский Андрей</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Сидоров Александр</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Волков Владислав</TD>
<TD>Санкт-Петербург</TD>
<TD>2</TD></TR>
<TR>
<TD>Остроумова Людмила</TD>
<TD>Ярославская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Ин Ли</TD>
<TD>Китай</TD>
<TD>2</TD></TR>
<TR>
<TD>Ярушин Дмитрий</TD>
<TD>Челябинская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Киселев Павел</TD>
<TD>Московская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Стебелев Максим</TD>
<TD>Алтайский край</TD>
<TD>2</TD></TR>
<TR>
<TD>Лысов Михаил</TD>
<TD>Москва</TD>
<TD>2</TD></TR>
<TR>
<TD>Горинов Евгений</TD>
<TD>Кировская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Шмаров Владимир</TD>
<TD>Нижегородская обл.</TD>
<TD>2</TD></TR>
<TR>
<TD>Новикова Наталья</TD>
<TD>Удмуртия</TD>
<TD>3</TD></TR>
<TR>
<TD>Рогожников Алексей</TD>
<TD>Москва</TD>
<TD>3</TD></TR>
<TR>
<TD>Баранов Эдуард</TD>
<TD>Санкт-Петербург</TD>
<TD>3</TD></TR>
<TR>
<TD>Борискин Павел</TD>
<TD>Нижегородская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Ван Юйлинь</TD>
<TD>Китай</TD>
<TD>3</TD></TR>
<TR>
<TD>Махлин Игорь</TD>
<TD>Москва</TD>
<TD>3</TD></TR>
<TR>
<TD>Урбанович Тимофей</TD>
<TD>Иркутская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Чувашов Сергей</TD>
<TD>Кировская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Логунов Александр</TD>
<TD>Санкт-Петербург</TD>
<TD>3</TD></TR>
<TR>
<TD>Лурье Денис</TD>
<TD>Московская обл.</TD>
<TD>3</TD></TR>
<TR>
<TD>Дроздов Сергей</TD>
<TD>Санкт-Петербург</TD>
<TD>пг</TD></TR>
<TR>
<TD>Кудык Никита</TD>
<TD>Омская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Локтев Сергей</TD>
<TD>Краснодарский край</TD>
<TD>пг</TD></TR>
<TR>
<TD>Распопов Алексей</TD>
<TD>Ростовская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Солдатов Сергей</TD>
<TD>Вологодская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Крупин Сергей</TD>
<TD>Новосибирская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Бабичев Дмитрий</TD>
<TD>Московская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Головко Андрей</TD>
<TD>Московская обл.</TD>
<TD>пг</TD></TR>
<TR>
<TD>Калачёв Глеб</TD>
<TD>Москва</TD>
<TD>пг</TD></TR>
<TR>
<TD>Коровкин Михаил</TD>
<TD>Удмуртия</TD>
<TD>пг</TD></TR>
</TBODY></TABLE>