<table border=0 cellpadding=2 cellspacing=1>
 <tr class=tblheader1>
  <td>страна</td>
  <td>место<br/>(неофиц. командн. зачет)</td>
 </tr>
<tr class=tbldata><td>Китай </td><td>   1</td></tr>
<tr class=tbldata><td>США   </td><td>  2</td></tr>
<tr class=tbldata1><td><b>Россия </b></td><td>                </td><td>3</td></tr>
<tr class=tbldata><td>Иран                  </td><td>4/td></tr>
<tr class=tbldata><td>Корея             </td><td>5</td></tr>
<tr class=tbldata><td>Румыния           </td><td>6</td></tr>
<tr class=tbldata><td>Тайвань           </td><td>7</td></tr>
<tr class=tbldata><td>Япония           </td><td>8</td></tr>
<tr class=tbldata><td>Венгрия      </td><td>9</td></tr>
<tr class=tbldata><td>Украина      </td><td>10</td></tr>
<tr class=tbldata><td>Болгария     </td><td>11</td></tr>
<tr class=tbldata><td>Германия    </td><td>12</td></tr>
<tr class=tbldata><td>Великобритания  </td><td>13</td></tr>
<tr class=tbldata><td>Сингапур        </td><td>14</td></tr>
<tr class=tbldata><td>Вьетнам         </td><td>15</td></tr>
<tr class=tbldata><td>Чехия           </td><td>16</td></tr>
<tr class=tbldata><td>Гонконг          </td><td>17</td></tr>
<tr class=tbldata><td>Беларусь         </td><td>18</td></tr>
<tr class=tbldata><td>Канада         </td><td>19</td></tr>
<tr class=tbldata><td>Словакия       </td><td>20</td></tr>
<tr class=tbldata><td>Молдова         </td><td>21</td></tr>
<tr class=tbldata><td>Турция          </td><td>22</td></tr>
<tr class=tbldata><td>Таиланд        </td><td>23</td></tr>
<tr class=tbldata><td>Италия          </td><td>24</td></tr>
<tr class=tbldata><td>Австралия      </td><td>25</td></tr>
<tr class=tbldata><td>Казахстан        </td><td>26</td></tr>
<tr class=tbldata><td>Польша           </td><td>27</td></tr>
<tr class=tbldata><td>Колумбия          </td><td>28</td></tr>
<tr class=tbldata><td>Перу               </td><td>29</td></tr> 
</table>