<table border=0 cellpadding=2 cellspacing=1>
 <tr class=tblheader1>
  <td>участник</td>
  <td>город</td>
  <td>школа</td>
  <td>учитель</td>
  <td>медаль</td>
 </tr>
 <tr class=tbldata>
  <td >Астахов
  Василий</td>
  <td>Саратов</td>
  <td>Лицей 1</td>
  <td>О. Дмитриев</td>
  <td>серебряная</td>
 </tr>
 <tr class=tbldata>
  <td >Гаврилюк
  Андрей</td>
  <td>Долгопрудный</td>
  <td>школа 5</td>
  <td>Н. Агаханов, О. Подлипский</td>
  <td>золотая</td>
 </tr>
 <tr class=tbldata>
  <td >Калинин
  Никита</td>
  <td>Санкт-Петербург</td>
  <td>239</td>
  <td>А. Голованов, М. Пратусевич</td>
  <td>золотая</td>
 </tr>
 <tr class=tbldata>
  <td >Катышев
  Алексей</td>
  <td>Санкт-Петербург</td>
  <td>239</td>
  <td>Д. Карпов, М. Пратусевич</td>
  <td>серебряная</td>
 </tr>
 <tr class=tbldata>
  <td >Козлов
  Павел</td>
  <td>с. Шурскол Ростовского р-на Ярославской области</td>
  <td></td>
  <td>В. Дольников</td>
    <td>золотая</td>
 </tr>
 <tr class=tbldata>
  <td >Магазинов
  Александр</td>
  <td>Ярославль</td>
  <td>лицей 33</td>
  <td>В. Дольников</td>
  <td>золотая</td>
 </tr>
</table>
