AddDefaultCharset utf-8
php_value date.timezone "Europe/Moscow"
#php_flag register_globals on
AddType application/x-httpd-php .php .shtml
RewriteEngine on
#RewriteRule ^reg-mos1.htm$ /auth/reg-mos1.php [QSA,L]
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
