body { padding: 0; margin: 0; background-color: #E6E6E6; 
font-family: Arial, sans-serif;
font-size: 12px;
scrollbar-3dlight-color: #AFCEF1;
scrollbar-arrow-color: #EFAE38;
scrollbar-base-color: #A0C5EF;
scrollbar-darkshadow-color: #213D7E;
scrollbar-face-color: #5F71AE;
scrollbar-highlight-color: #A8B8EE;
scrollbar-shadow-color: #1C2A32;
scrollbar-track-color: #90A2D8;
}

#up {position: absolute; top: 0; right: 0;}

#menucol {width: 181px; background: url("/i/menu_l_fon.gif") #FCF8F5; font: bold 12px; color: #000}
//#menu {width: 181px; background: #FCF8F5; font: bold 12px; color: #000}
#menucol div.tit1 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #fff; width: 100%; background: url("/i/line_h.gif") repeat-x #EE6428; text-align: left}
#menucol div.tit2 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #333; width: 100%; background: url("/i/line_h.gif") repeat-x #F6CC38; text-align: left}
#menucol div.tit3 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #333; width: 100%; background: url("/i/line_h.gif") repeat-x #BFDC65; text-align: left}
#menucol div.tit4 {margin: 0; padding: 1px 0px; font-weight: bold; font-size: 11px; font-family: Arial, sans-serif; color: #fff; width: 100%; background: url("/i/line_h.gif") repeat-x #3464B6; text-align: left}

#menutable TD {background: url("/i/bm1.gif") #A0C5EF; font-weight: bold; font-size: 12px; color: #000; height: 24px;}
#menutable TD A {color: #213D7E; text-decoration: none; font-weight: bold; font-size: 12px; font-family: Arial; margin: 0 14px}
#menutable A:hover {color: #222}
#menutable TD.select {color: #000; background: url("/i/bm3.gif") #FFCC66;}
#menutable TD.select A {color: #000; text-decoration: none; }


#menutable1 TD {background: #A0C5EF; font: bold 12px; color: #000; height: 24px;}
#menutable1 TD A {color: #213D7E; text-decoration: none; font: bold 12px Arial;}
#menutable1 A:hover {color: #222}
#menutable1 TD.select {color: #000; background: #FFCC66;}
#menutable1 TD.select A {color: #000; text-decoration: none; }

#menutable2 TD {background: #A0C5EF; font-weight: bold; font-size: 12px; color: #000; height: 24px;}
#menutable2 TD A {color: #213D7E; text-decoration: none; font-weight: bold; font-size: 12px; font-family: Arial;}
#menutable2 A:hover {color: #222}
#menutable2 TD.select {color: #000;}
#menutable2 A.select {color: #000; background: #FFCC66; text-decoration: none; }


#search {margin: 6px; width: 100%; background: #D1D1D1; border: solid 1px #6C6C6C; font: normal 10px;}
#search TD {font: normal 10px;}

#content {font-size: 12px}
#content DIV {width: 96%; text-align: left; font-size: 12px}
#content A {color: #3464B6}
#content table div {font-size: 12px}
#content table td {font-size: 12px}
#pages TD {font-size: 11px; color: #444}
#pages B {background: #3464B6; padding: 2px; color: #fff}
#pages A {padding: 2px; color: #3464B6}
#pages A:hover {background: #eee; padding: 2px; text-decoration: none}


#right {width: 150px; background: url("/i/menu_r_fon.gif") #FCF8F5; font: 11px; color: #000}
#right div.tit1 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #fff; width: 100%; background: url("/i/line_h.gif") repeat-x #EE6428; text-align: left}
#right div.tit2 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #333; width: 100%; background: url("/i/line_h.gif") repeat-x #F6CC38; text-align: left}
#right div.tit3 {margin: 0; padding: 1px 0px; font: bold 11px Arial, sans-serif; color: #333; width: 100%; background: url("/i/line_h.gif") repeat-x #BFDC65; text-align: left}
#right P {margin: 0; padding: 6px; width: 138px}
#right p ul {margin: 0; padding: 0px;}
#right p ul li {margin: 0; padding: 0px;}
#right div.tit4 {margin: 0; padding: 1px 0px; font-weight: bold; font-size: 11px; font-family: Arial, sans-serif; color: #fff; width: 100%; background: url("/i/line_h.gif") repeat-x #3464B6; text-align: left}

#right STRONG {font-size: 10px; color: #ccc} 
#right DIV {text-align: right; font: bold 10px Arial; color: #55F; margin: 6px;}
#right DIV A {text-decoration: none; color: #213D7E;}
#right DIV A:hover {text-decoration: underline}

#add {text-align: right;}
#add A {color: #444; background: #eee; border: solid 1px #6C6C6C; text-decoration: none; padding: 0 4px}
#add A:hover {color: #222; background: #ddd;}

#footer TD {background: #213D7E; font-size: 10px; color: #A9A9A9;}
#footer TD A {color: #D9D9D9;}
#footer TD A:hover {color: #FFF;}

#copy TD {font-size: 11px; color: #7EB4C9}
#copy TD A {font-size: 11px; color: #7EB4C9}
#copy TD A:hover {color: #fff}

H1 {font-size: 16px; color: #555; margin: 0; padding: 4px 0}
H2 {font-size: 110%; color: #6071AF}
H3 {font-size: 105%; color: #00f}
H4 {font-size: 12px; color: #333; margin: 0; padding: 10px 0 2px}

P {text-align: justify; margin: 0; padding: 4px 0; font-size: 12px}
HR {height: 1px; color: #3464B6}

FORM {margin: 0; padding: 0;}
select { background-color: #f5f5f5;}
textarea { background-color: #f5f5f5;}
checkbox { background-color: #f5f5f5;}

input.textform {margin: 1px; height: 18px; border: solid 1px #6C6C6C; font-size: 11px; color: #3464B6; background-color: #f5f5f5;}
input {background-color: #f5f5f5;}
INPUT.button {margin: 1px; padding: 0; width: 165px; height: 14px; border: 0; font-size: 11px; color: #fff; background: url("/i/bmfon.gif") #ccc;}

TH.tit1 {margin: 0; padding: 1px 4px; font: bold 11px Arial; color: #fff; background: #3464B6; text-align: left;}
TH.tit2 {margin: 0; padding: 1px 4px; font: bold 11px Arial; color: #fff; background: #F38435; text-align: left;}


TD.small {font-size: 11px}

TD.title {background: url("/i/formula.gif") no-repeat 100% 0}

#catalog {margin: 6px; width: 100%; background: #D1D1D1; border: solid 1px #6C6C6C; font: normal 10px;}
#catalog TD {font: normal 10px;}
#catalog H1 {margin: 0; padding: 1px 8px; font: bold 11px; color: #fff; width: 100%; background: #3464B6;}
#catalog A {color: #213D7E; text-decoration: none; width: 100%; height: 24px; background: #99CCFF; padding: 4px 12px;}
#catalog A:hover {background: #6699FF; color: #222}
#catalog A.select {color: #000; text-decoration: none; width: 100%; height: 24px; background: #FFCC99; padding: 4px 12px;}

#alph {margin: 6px; width: 100%; background: #99CCFF; border: solid 1px #6C6C6C; font-weight: normal; font-size: 10px;}
#alph TD { font-weight: normal; font-size: 10px;}
#alph H1 {margin: 0; padding: 1px 8px; font: bold 11px; color: #fff; width: 100%; background: #3464B6;}
#alph A {color: #213D7E; text-decoration: none; width: 0; height: 0; background: #99CCFF; padding: 0px 0px;}
#alph A:hover {background: #6699FF; color: #222}
#alph A.select {color: #000; text-decoration: none; width: 0; height: 0; background:  #FFCC99; padding: 0px 0px;}

.tblheader {background: #3464B6; color: #eee; font-weight:bold;}
.tblheader a {color: #eee; text-decoration: none;}
.tblheader A:hover {color: #fff}


.tblheader1 {background: #A0C5EF;}
.tblheader1 A {color: #213D7E; text-decoration: none; font: bold 11px Arial;}
.tblheader1 A:hover {color: #222}
//TR.tblheader1 A {text-decoration:underline;}
.tbldata1 {background: #e6e6e6;}
//.tbldata2 {background: #ddeeff;}
.tbldata2 {background: #f5f5f5;}

.bookstable {font-size:11px}
.bookstable A {text-decoration:none;}
.bookstable A:hover {text-decoration:underline;}

.book_author {font-size: 18px}
.book_title {font-size: 25px; color: #555; margin: 0; padding: 4px 0}
.book_download td {background: #99CCff; font-weight: bold; font-size: 12px; text-align: center;}

.clsSelected {font-weight:bold;}
.source_ref {color:#213D7E; font-size:11px;}

#temp1 {width: 180px; margin: 0; padding: 0; color: #fff; font: bold 12px Arial; background: url('i/fon1.gif'); text-align: center}

#abc {margin: 3px; }
#abc A {border: solid 1px #C1DDFA; color: #2B619E; text-decoration: none; font-size: 11px; margin: 1px 0; padding: 0px; width: 16px; background-image: url('/i/bm_1.gif');background-color: #B0D0F5}
#abc A:hover {border: solid 1px #6AA5E4; color: #fff; background: url('/i/bm_2.gif') #3464B6}
#abc A.select {border: solid 1px #EB9A09; color: #213D7E; background: url('/i/bm_3.gif') #FFB606}

A.alink {font: normal 12px Arial; color: #3464B6; background: url('i/a_link.gif') no-repeat; padding-left: 15px; line-height: 18px;}
A.alink:hover {color: #EFAE38; background: url('i/a_link2.gif') no-repeat}
a.sel {color: #EFAE38; font-weight:bold; background: url('i/a_link2.gif') no-repeat; padding-left: 15px; line-height: 18px;}
#razd {background: url('i/ma_line.gif');}
#realfoto {background: url('i/ma_real_fon.gif') no-repeat; text-align: center}
#ma_bm {font: normal 11px Arial; color: #607EAD}
#ma_bm U {color: #B1BED4; text-decoration: none} 

#cnt {background-color: #F5F5F5; padding: 6px;}
#cnt a {font: bold 12px Arial; color: #6071AF; line-height: 14px; margin-bottom: 0px; text-decoration:none;}
#cnt a:hover {text-decoration:underline;}
#cnt P { font: 12px Arial; color: #000; padding: 6px; margin: 10px 0;}
#cnt B {color: #AEAEAE}

#menu TD {background: url('/i/m_c1.gif'); font: bold 12px Arial, sans-serif; color: #000; line-height: 12px;}
#menu TD.sel {background: url('/i/m_c2.gif');}
#txt TD {padding: 2px 7px 2px 12px}

#menu TD A {color: #213D7E; text-decoration: none; width: 100%; height: 100%}
#menu TD A:hover {color: #FFF}

div.small {font-size: 12px; text-align: right;}

a {text-decoration:none;}
a:hover {text-decoration:underline;}

#content .comment {
	font-style: italic;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#content .def {
	padding-left: 20px;
	margin-top: 10px;
}

#content .cmp {
	font-style: italic;
	margin-left: 40px;
	margin-top: 0px;
	margin-bottom: 20px;
}


#content ul.cmpsrc {
	padding: 0px;
	margin-left: 20px;
	list-style-type: square;
	margin-bottom: 5px;
}

td.pollres {
	background-color: #3464B6;
	color: #3464B6;
}

.pollq {color: #607EAD; font-weight: bold;}