  <html>
    <head>
      <title>Fields medals --- Филдсовские медали.</title>
      <meta http-equiv="content-type" content="text/html; charset=windows-1251"></meta> 
    </head>

    <body bgcolor="#fdf5e6">    
		<h2 align="center">Филдсовские медали</h2>


		<p align="center">
		<table border="0" cellpadding="3" cellspacing="3"> 
		  <tr> 
		    <td nowrap="nowrap">
		      <img src="medal.front.gif" height="200" width="200">
		      <img src="medal.back.gif" height="200" width="200">
			</td></tr>
		</table>

<P align="justify">Присуждение Филдсовских медалей происходит каждые 4 года и
приурочено к Международному математическому конгрессу. Целью является  
выявление выдающихся достижений в математике как в уже существующих работах, 
так и в будущих исследованиях.

<P align="justify">Комитет по присуждению Филдсовских медалей избирается 
Исполнительным комитетом Международного математического союза (IMU) и обычно 
возглавляется Президентом IMU.
Комитет просят выбрать двоих (но предпочтительнее четверых) лауреатов, стараясь 
в этом выборе представить весь спектр математики.
Кандидату на медаль должно быть менее 40 лет на 1 января года, когда
состоится Конгресс, на котором будет присуждена медаль.

<P align="justify">Имя и координаты председателя Филдсовского комитета 
объявляются публично, но имена остальных членов комитета остаются
неизвестными до момента объявления лауреатов на Конгрессе. В случае, когда
ученик одного из членов Комитета (защищавший у него Ph.D) начинает серьезно
рассматриваться в качестве претендента на медаль, такой член Комитета не 
должен  принимать участие в финальном обсуждении. 


<h3 align="center">История Филдсовских медалей</h3>

<P align="justify">На Международном математическом конгрессе в Торонто в 1924 году
была принята резолюция: на каждом следующем конгрессе будут присуждаться по две медали
за выдающиеся математические достижения. Канадский математик проф.
Джон Филдс (John Charles Fields, 1863&#8211;1932), бывший в тот год Председателем Конгресса,
позднее учредил фонд, из средств которого стали присуждаться медали, названные в его честь.
В 1966 году было решено, что, в связи с огромным расширением математических
исследований, на каждом Конгрессе надо присуждать до 4 медалей.

<P>
Дополнительную информацию смотрите на сайте Филдсовского института (The Fields Institute) 
http://www.fields.utoronto.ca/aboutus/jcfields/. 

<P>

		<table width="100%"> 
		  <tr> <td align="right"><FONT size="-1"> 
Данный текст переведен с 
<A href="http://www.mathunion.org/General/Prizes/Fields/index.html">
взятого на сайте IMU</A><BR> 
фрагмента статьи <I>Henry S. Tropp, <BR> 
&quot;The Origins and History of the Fields Medal&quot;,</I><BR> 
Historia Mathematica 3 (1976) 167-181. </FONT>
		   </td></tr></table>	

<HR width="90%" align="center">

<h3 align="center">О виде Филдсовских медалей</h3>

		<h4>Аверс:</h4> 

		<p>На медали отчеканен профиль Архимеда
		<OL>
		  <li> В поле по-гречески написано слово <img src="./archimedes.gif">, 
		  <li> подпись художника и дата &#8212; RTM, MCNXXXIII.
		  <li> По кругу надпись  &#171;TRANSIRE SUUM PECTUS MUNDOQUE POTIRI&#187;. 
	   </OL>
		  

		</p><p>Что означает
		<OL>
		  <li> Архимед
		  <li> R(obert) T(ait) M(cKenzie) &#8212; канадский скульптор, автор рисунка медали.
			   <br>Правильная дата должна быть "MCMXXXIII" или 1933 год. 
			   <br>В дате вторая буква M по ошибке написана как N.  
		  <li>  &#171;Превзойти себя и овладеть Миром&#187; ---  
				 &#171;To transcend one's spirit and 
					 to take hold of (to master) the world&#187;.   
	   </OL>


		</p><h4>Реверс:</h4> 

		<p>Надпись гласит: </p>
		<center>
		  <p align="center"> 
		CONGREGATI<br> EX TOTO ORBE<br> MATHEMATICI
		    <br> OB SCRIPTA INSIGNIA<br> TRIBUERE </p></center>  

		Что означает: &#171;Математики, собравшиеся со всего мира, присудили [эту медаль] 
		за выдающиеся работы&#187;. <br><font size="-1">Глагольная форма "tribuere" 
		(первая гласная "e" долгая) это сокращение от "tribuerunt".</font>
		<br>Рисунок фона представляет сферу Архимеда, вписанную в цилиндр. 	

		<table width="100%"> 
		  <tr> <td align="right"> Эберхард Кноблох,<br> 
			Eberhard Knobloch,<br>5 августа 1998 года
		   </td></tr></table>	

<br> 
<HR width="90%" align="center">
<br> <br> 		

<P align="justify">Приводимые ниже списки лауреатов и членов комитетов 
по присуждению медалей взяты с сайта Международного математического союза. 
Переводы на русский язык мы пытались сделать
в соответствии со сложившейся традицией в литературе на русском языке.
		  
		<table border="1" cellspacing="0" cellpadding="10" align="center">
		  <tr>
		    <td><b>Год</b></td>
		    <td align="center"><b>Лауреаты</b></td>
		    <td align="center" colspan=2><b>Комитет по присуждению медали</b></td>
		  </tr>

		  <tr>
		    <td valign="top" rowspan="2"><b>2006</b></td>
			<td valign="top">		
					Андрей Юрьевич Окуньков <BR><BR>
					Григорий Яковлевич Перельман* <BR><BR>
					Теренс Тао <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Terence Tao) <BR><BR>
					Венделин Вернер <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Wendelin Werner) 
		    </td>
		    <td valign="top">Джон Болл (председатель)
		      <br>Энрико Арбарелло
		      <br>Джеф Чигер
		      <br>Дональд Даусон
		      <br>Герхард Хьюскен
		      <br>Кёртис Макмуллен
		      <br>Алексей Николаевич Паршин
		      <br>Том Спенсер
		      <br>Мишель Вернь
		    </td>
		    <td valign="top">John M. Ball (chair)
		      <br>Enrico Arbarello
		      <br>Jeff Cheeger
		      <br>Donald Dawson
		      <br>Gerhard Huisken
		      <br>Curtis Tracy McMullen
		      <br>Alexey Parshin
		      <br>Tom Spencer
		      <br>Mich&egrave;le Vergne
		    </td>
		  </tr>
		  <tr>
		    <td valign="top" colspan="3">		    
				*  Г.Я.Перельман отказался от Филдсовской медали. 
		    </td>
		    </tr>


		  <tr>
		    <td valign="top"><b>2002</b></td>
			<td valign="top">		 
				Лоран Лафорг <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Laurent LAFFORGUE) <BR><BR>
				Владимир Александрович Воеводский 
 		    </td>
		    <td valign="top">Яков Григорьевич Синай (председатель)
		      <br>Джеймс Артур
		      <br>Спенсер Блох
		      <br>Жан Бургэн
		      <br>Хельмут Хофер
		      <br>Ясутака Ихара
		      <br>Герберт Лоусон 
		      <br>Сергей Петрович Новиков
		      <br>Джордж Папаниколау
		      <br>Ефим Исаакович Зельманов
		      <br>
		    </td>
			<td valign="top">Yakov Sinai (chair) 
		      <br>James Arthur
		      <br>Spencer Bloch
		      <br>Jean Bourgain
		      <br>Helmut Hofer
		      <br>Yasutaka Ihara
		      <br>Herbert Blaine Lawson
		      <br>Sergei Novikov
		      <br>George Papanicolaou
		      <br>Efim Zelmanov
		      <br>
		    </td>

		  </tr>


		  <tr>
		    <td valign="top" rowspan="2"><b>1998</b></td>
			<td valign="top">		 
				Ричард Борчердс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Richard Ewen BORCHERDS) <BR><BR>
				Уильям Гоуэрс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(William Timothy GOWERS) <BR><BR>
				Максим Львович Концевич <BR><BR>
				Кёртис Макмуллен<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Curtis Tracy MCMULLEN)
 		    </td>
		    <td valign="top">Юрий Иванович Манин (председатель)   
		      <br>Джон Болл
		      <br>Джон Коутс
		      <br>Йоханнес Дюйстермаат
		      <br>Майкл Фридман
		      <br>Йорг Фрёлих
		      <br>Роберт Макферсон
		      <br>Киёдзи Сайто
		      <br>Стивен Смейл
		    </td>
		    <td valign="top">Yuri I. Manin (chair)   
		      <br>John Ball
		      <br>John Coates
		      <br>Johannes Jisse Duistermaat
		      <br>Michael Freedman
		      <br>J&uuml;rg Fr&ouml;hlich
		      <br>Robert MacPherson
		      <br>Kyoji  Saito
		      <br>Steven Smale
		    </td>
		    </tr>
		  <tr>
		    <td valign="top" colspan="3">		    
				Серебрянная медаль была присуждена Эндрю Уайлсу (Andrew John WILES)
				как специальная награда от Международного математического союза 
		    </td>
		    </tr>
		   
		  <tr>
		    <td valign="top"><b>1994</b></td>
			<td valign="top">		 
				Жан Бурген<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Jean BOURGAIN) <BR><BR>
				Пьер-Луи Лионс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Pierre-Louis LIONS) <BR><BR>
				Жан-Кристоф Йоккоз<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Jean-Christophe YOCCOZ) <BR><BR>
				Ефим Исаакович Зельманов  
 		    </td>
		    <td valign="top">Дэвид Мамфорд (председатель)  
			<br>Луис Кафарелли
			<br>Масаки Кашивара  
			<br>Барри Мазур  
			<br>Александр Схрейвер
			<br>Деннис Сулливан
			<br>Жак Титс
			<br>Сатхамангалам Варадхан  
		      </td>
		    <td valign="top">David B.Mumford (chair)  
			<br>Luis A. Caffarelli  
			<br>Masaki Kashiwara  
			<br>Barry Charles Mazur  
			<br>Alexander Schrivjer  
			<br>Dennis Parnell Sullivan  
			<br>Jacques Tits  
			<br>Sathamangalam  Srinivasa Varadhan  
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1990</b></td>
			<td valign="top">		 
				Владимир Гершонович Дринфельд <BR><BR>
				Воган Джонс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Vaughan Frederick Randal JONES) <BR><BR>
				Сигефуми Мори<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Shigefumi MORI) <BR><BR>
				Эдуард Виттен<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Edward WITTEN) 
 		    </td>
		    <td valign="top">Людвиг Дмитриевич Фаддеев (председатель)
			<br>Майкл Атья  
			<br>Жан-Мишель Бисмю
			<br>Энрико  Бомбьери 
			<br>Чарльз  Фефферман 
			<br>Кенкичи Ивасава  
			<br>Питер Лакс  
			<br>Игорь Ростиславович Шафаревич
		      </td>
		    <td valign="top">Ludwig D. Faddeev (chair)
			<br>Michael Francis Atiyah  
			<br>Jean-Michel Bismut  
			<br>Enrico Bombieri 
			<br>Charles Louis Fefferman  
			<br>Kenkichi Iwasawa  
			<br>Peter David Lax  
			<br>Igor R. Shafarevich
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1986</b></td>
			<td valign="top">		 
				Саймон Дональдсон<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Simon Kirwan DONALDSON) <BR><BR>
				Герд Фалтингс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Gerd FALTINGS) <BR><BR>
				Майкл Фридман<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Michael Hartley FREEDMAN)
 		    </td>
		    <td valign="top">Юрген Мозер (председатель)
			<br>Пьер Делинь 
			<br>Джеймс Глимм
			<br>Ларс Хёрмандер
			<br>Киёси Ито
			<br>Джон Милнор 
			<br>Сергей Петрович Новиков
			<br>Конджерверам Сешадри
		      </td>
		    <td valign="top">Ju"rgen Moser (chair)  
			<br>Pierre Ren&#233; Deligne   
			<br>James G. Glimm 
			<br>Lars H&ouml;rmander  
			<br>Kiyoshi Ito  
			<br>John Willard Milnor  
			<br>Sergey P. Novikov 
			<br>Conjeerveram Seshadri 
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1982</b></td>
			<td valign="top">		 
				Ален Конн<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alain CONNES) <BR><BR>
				Уильям Тёрстон<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(William Paul THURSTON) <BR><BR>
				Шинтан Яу (Шин-Тун Яо)<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Shing-Tung YAU) 
 		    </td>
		    <td valign="top">Ленарт Карлесон (председатель)  
			<br>Хузихиро Араки
			<br>Поль Малявэн
			<br>Гурий Иванович Марчук
			<br>Дэвид Мамфорд  
			<br>Льюис Ниренберг
			<br>Анджей Шинцель 
			<br>Чарльз Уолл
		      </td>
		    <td valign="top">Lennard Axel Edward Carleson (chair)  
			<br>Huzihiro  Araki  
			<br>Pаul Malliavin  
			<br>G.I.Marchuk  
			<br>David B. Mumford  
			<br>Louis Nirenberg  
			<br>Andrzej Schinzel 
			<br>Charles Terrence Clegg (C.T.C.) Wall
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1978</b></td>
			<td valign="top">		 
				Пьер Делинь<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Pierre Ren&#233; DELIGNE) <BR><BR>
				Чарльз Фефферман<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Charles Louis FEFFERMAN) <BR><BR>
				Григорий Александрович Маргулис <BR><BR>
				Даниэл Квиллен<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Daniel Gray QUILLEN) 
 		    </td>
		    <td valign="top">Дин Монтгомери (председатель)
			<br>Ленарт Карлесон
			<br>Мартин Эйхлер
			<br>Иоан Джеймс  
			<br>Юрген Мозер 
			<br>Юрий Васильевич Прохоров
			<br>Бела Секёфалви-Надь
			<br>Жак Титс 
		      </td>
		    <td valign="top">Deane Montgomery (chair)  
			<br>Lennard Axel Edward Carleson  
			<br>Martin Eichler  
			<br>Ioan Mackenzie James  
			<br>Jurgen Moser  
			<br>Yuri V. Prohorov  
			<br>Bella Sz&ouml;kefalvi-Nagy  
			<br>Jacques Tits
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1974</b></td>
			<td valign="top">		 
				Энрико Бомбьери<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Enrico BOMBIERI) <BR><BR>
				Дэвид Мамфорд<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(David Bryant MUMFORD) 
 		    </td>
		    <td valign="top">Комараволу Чандрасекхаран (председатель) 
			<br>Джон Адамс
			<br>Кунихико Кодаира  
			<br>Бернар Мальгранж  
			<br>Анджей Мостовский
			<br>Лев Семенович Понтрягин  
			<br>Джон Тэйт 
			<br>Антоний Зигмунд
		      </td>
		    <td valign="top">Komaravolu S. Chandrasekharan (chair) 
			<br>John Frank Adams
			<br>Kunihiko Kodaira  
			<br>Bernard Malgrange 
			<br>Andrzej Mostowski  
			<br>Lev S.Pontryagin  
			<br>John Torrence Tate  
			<br>Аntony Szczepan Zygmund
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1970</b></td>
			<td valign="top">		 
					Алан Бейкер<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alan BAKER) <BR><BR>
					Хейсуке Хиронака<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Heisuke HIRONAKA) <BR><BR>
					Сергей Петрович Новиков <BR><BR>
					Джон Томпсон<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(John Griggs THOMPSON) 
 		    </td>
		    <td valign="top">Анри Картан (председатель)  
			<br>Джозеф Дуб
			<br>Фридрих Хирцебрух
			<br>Ларс Хёрмандер
			<br>Cокиcи Иянага 
			<br>Джон Милнор  
			<br>Игорь Ростиславович Шафаревич
			<br>Пал Туран </td>
		    <td valign="top">Henri Paul Cartan (chair)  
			<br>Joseph Leo Doob  
			<br>Friedrich Hirzebruch  
			<br>Lars H&ouml;rmander  
			<br>Shokishi Iyanaga  
			<br>John Willard Milnor  
			<br>Igor R.Shafarevich  
			<br>Paul Tur&aacute;n </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1966</b></td>
			<td valign="top">		 
				Майкл Атья<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Michael Francis ATIYAH) <BR><BR>
				Пол Коэн<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Paul Joseph COHEN) <BR><BR>
				Александр Гротендик<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Alexander GROTHENDIECK) <BR><BR>
				Стивен Смейл<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Stephen SMALE) 
 		    </td>
		    <td valign="top">Жорж де Рам (председатель)  
			<br>Гарольд Дэвенпорт 
			<br>Макс Дойринг  
			<br>Вилли Феллер 
			<br>Михаил Александрович Лаврентьев
			<br>Жан-Пьер Серр  
			<br>Дональд Спенсер
			<br>Рене Том
		      </td>
		    <td valign="top">Georges de Rham (chair)  
			<br>Harold Davenport  
			<br>Max  Deuring  
			<br>Willi K. Feller  
			<br>Michael Al. Lavrentiev  
			<br>Jean-Pierre Serre  
			<br>Donald C. Spencer 
			<br>Ren&#233; Thom 
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1962</b></td>
			<td valign="top">		 
					Ларс Хёрмандер<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Lars H&#214;RMANDER) <BR><BR>
					Джон Милнор<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(John Willard MILNOR) 
 		    </td>
		    <td valign="top">Рольф Неванлинна (председатель)
			<br>Павел Сергеевич Александров 
			<br>Эмиль Артин 
			<br>Чжэнь Шен-Шень
			<br>Клод Шевалле
			<br>Хасслер Уитни  
			<br>Косаку Иосида 
		      </td>
		    <td valign="top">Rolf Herman Nevanlinna (chair) 
			<br>Pavel S. Aleksandrov  
			<br>Emil Artin  
			<br>Shiing-shen Chern  
			<br>Claude C. Chevalley  
			<br>Hassler Whitney  
			<br>Kosaku Yosida 
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1958</b></td>
			<td valign="top">		 
				Клаус Фридрих Рот<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Klaus Friedrich ROTH) <BR><BR>
				Рене Том<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Ren&#233; THOM) 
 		    </td>
		    <td valign="top">Хейнц Хопф (председатель) 
			<br>Комараволу Чандрасекхаран
			<br>Курт Фридрихс  
			<br>Филипп Холл 
			<br>Андрей Николаевич Колмогоров
			<br>Лоран Шварц
			<br>Карл Зигель 
			<br>Оскар Зарисский
		      </td>
		    <td valign="top">Heinz Hopf (chair) 
			<br>Komaravolu S. Chandrasekharan  
			<br>Kurt Otto Friedrichs
			<br>Philip Hall  
			<br>Andrey N.Kolmogorov  
			<br>Laurent Schwartz  
			<br>Karl Ludwig Siegel  
			<br>Oscar Zariski
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1954</b></td>
			<td valign="top">		 
						Кунихико Кодаира<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Kunihiko KODAIRA) <BR><BR>
						Жан-Пьер Серр<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Jean-Pierre SERRE)
 		    </td>
		    <td valign="top">Герман Вейль (председатель)
			<br>Энрико Бомпиани 
			<br>Флоран Бюро 
			<br>Анри Картан  
			<br>Александр Маркович Островский
			<br>Аке Плейель  
			<br>Габор Сеге
			<br>Эдвард Титчмарш
		      </td>
		    <td valign="top">Hermann Claus Hugo Weyl (chair)  
			<br>Enrico Bompiani  
			<br>Florent J. Bureau  
			<br>Henri Paul Cartan  
			<br>Alexander Markowich Ostrowski  
			<br>Ake Pleijel  
			<br>Gabor Szeg&ouml; 
			<br>Edward Charles Titchmarsh
		      </td>
		  </tr>

		  <tr>
		    <td valign="top"><b>1950</b></td>
			<td valign="top">		 
						Лоран Шварц<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Laurent SCHWARTZ) <BR><BR>
						Атле Сельберг<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Atle SELBERG) 
 		    </td>
		    <td valign="top">Харальд Бор (председатель)
			<br>Ларс Альфорс
			<br>Кароль Борсук   
			<br>Морис  Фреше 
			<br>Вильям Ходж  
			<br>Андрей Николаевич Колмогоров
			<br>Дамодар Косамби
			<br>Марстон Морс
		      </td>
		    <td valign="top"> Harald August Bohr (chair) 
			<br>Lars Valerian Ahlfors  
			<br>Karol Borsuk   
			<br>Maurice Ren&eacute; Fr&eacute;chet  
			<br>William Vallance Douglas Hodge  
			<br>Andrey N.Kolmogorov  
			<br>Dharmananda Damodar Kosambi  
			<br>Harold Calvin Marston Morse 
		      </td>
		  </tr>
		  <tr>
		    <td valign="top"><b>1936</b></td>
			<td valign="top">		 
				Ларс Альфорс<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Lars Valerian AHLFORS) <BR><BR>
				Джесси Дуглас<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(Jesse DOUGLAS) 
 		    </td>
		    <td valign="top">Франческо Севери (председатель)
			<br>Константин Каратеодори
			<br>Джордж Биркгоф
			<br>Эли Картан
			<br>Тейджи Такаги
		      </td>
		    <td valign="top">Francesco  Severi (chair)
			<br>Constantin Carath&eacute;odory  
			<br>George David Birkhoff
			<br>Elie Joseph  Cartan
			<br>Teiji Takagi 
		      </td>
		  </tr>
		</table>
</body>
</html>